In [25]:
#Variávesis.
Inteiro = 60
Real = 16.30
Nome = "Thavison Moura"

print(Inteiro, Real, Nome)

60 16.3 Thavison Moura

In [23]:
#Tipos de dados.
print(type(Inteiro), type(Real), type(Nome))

<class 'tuple'> <class 'float'> <class 'str'>

In [2]:
#Tipos de dados. Trabalhando com string.
Nome = '''Thavison'''
Sobrenome = 'Moura'
idade = "18"

print(Nome, Sobrenome, idade)

Thavison Moura 18

In [2]:
#Tipos de dados. Trabalhando com números.
print(10.0 - 5)
print(10 - 5.0)
print(10 - 5)
print((10 * 2)/100)
print(10 % 2)
print(11 / 2)
print(11 // 2)

5.0
5.0
5
0.2
0
5.5
5

In [4]:
#Tipos de dados. Trabalhando com booleano.
Idade = 14

print(Idade > 18)

False

In [5]:
#Tipos de dados. Trabalhando com booleano.
Idade = 14

print(Idade < 18)

True